body {
	background-color: #666666;
	font-family: verdana;
}

div#folha {
	background-color: #FFFFFF;
	width: 90%;
	padding: 20px;
	border: #000000 1px solid;
	margin: 0 auto;
	box-shadow: 0px 0px 10px;
}

h2 {
	color: #000066;
	font-weight: normal;
}

h3 {
	color: #0080C0;
	font-weight: normal;
}

p, blockquote, li {
	font-size: 11pt;
}

p {
	text-align: justify;
	text-indent: 12.5mm;
	line-height: 16pt;
}

blockquote {
	text-align: right;
}

ul {
	list-style-type: square;
}

address {
	font-size: 10pt;
	text-align: center;
	font-style: normal;
}